.karan{
color:  rgb(180, 3, 33);
font-size: 20px;
border: 10px solid black;
margin: 20px;


}
td{
    
    text-align: center;
    width: 30 px;
    border:1px solid black;
    border-collapse: collapse;

    
 }